<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link  rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Form</title>
    <style>

    </style>
</head>
<body>

    <h2>Student Registration Form</h2>

    <form action="/submit" method="post">

        <label for="name">Full Name</label>
        <input type="text" id="name" name="name" required>


        <button type="submit">Register</button>
    </form>

</body>
</html>
